@import "tailwindcss";

@theme {
  --color-gray-lighter: #e0e0e0;
  --color-gray-light: #f5f5f5;
  --color-gray-mid: #b8b8b8;
  --color-gray-darker: #8b8b8b;
  --color-teal: #1fd5cc;
  --color-teal-light: #dcf9f8;
  --color-teal-lighter: #9beeea;
  --color-teal-dark: #0a5450;
  --color-teal-darker: #19a69f;
  --text-xxs: 10px;
  --shadow-small: 2px 2px 5px #00000026;
  --shadow-big: 6px 6px 11px #0000001f;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-gray-darker);
  background-color: #ffffff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
